In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('MD_agric_exam-4313.csv')

In [3]:
df.head()

,Field_ID,Elevation,Rainfall,Min_temperature_C,Max_temperature_C,pH,Pollution_level,Plot_size,Annual_yield,Crop_type
0,1162,494.95615,1507.6,-5.4,31.0,6.859436,0.007034,3.6,1.617421,coffee
1,5108,663.73390,581.0,-4.7,30.9,5.603219,0.289643,4.2,2.532497,potato
2,3504,396.87990,1715.1,-6.1,31.7,5.774116,0.000409,2.6,1.262207,banana
3,5351,594.80370,1748.0,-4.3,33.6,6.477415,0.088777,7.9,4.351564,wheat
4,905,609.49800,1395.8,-4.5,31.3,5.419586,0.050023,10.8,5.034791,cassava

In [4]:
df.describe([0.1,0.25,0.5,0.8,0.95]).T

,count,mean,std,min,10%,25%,50%,80%,95%,max
Field_ID,1000.0,2779.486000,1595.068372,1.000000e+00,609.900000,1442.250000,2728.500000,4422.600000,5354.000000,5632.000000
Elevation,1000.0,628.136035,179.098546,3.591080e+01,377.879113,504.392825,657.468975,785.347230,882.445983,1003.943700
Rainfall,1000.0,1197.734700,497.794699,1.101000e+02,545.140000,771.575000,1194.900000,1678.860000,1982.425000,2408.500000
Min_temperature_C,1000.0,-4.504100,1.568117,-9.700000e+00,-6.600000,-5.600000,-4.400000,-3.100000,-2.100000,-1.200000
Max_temperature_C,1000.0,30.894600,1.922250,2.510000e+01,28.400000,29.575000,30.900000,32.600000,34.100000,37.300000
pH,1000.0,5.603899,0.802154,3.701838e+00,4.561172,5.018775,5.562078,6.357398,7.006921,7.484683
Pollution_level,1000.0,0.223374,0.228866,5.397448e-10,0.007087,0.044494,0.166196,0.348362,0.785342,0.995413
Plot_size,1000.0,3.962400,3.459036,5.000000e-01,0.900000,1.500000,2.900000,5.300000,12.205000,15.000000
Annual_yield,1000.0,2.101536,1.926694,1.748574e-01,0.480309,0.786612,1.478622,2.967640,6.508411,12.695224

In [5]:
#Write code to determine the number of unique crop types in the dataset?
df['Crop_type'].nunique()

8

In [6]:
#Identify the maximum annual yield for "wheat" crop type in the dataset (rounded to 2 decimal places).
y = df[df['Crop_type'] == 'wheat'] 
#
round(y['Annual_yield'].max(),2)

8.99

In [7]:
# Calculate the average pollution level
average_pollution = df['Pollution_level'].mean()

# Check if the average pollution level is above 0.2
if average_pollution > 0.2:
    # If the average pollution level is above 0.2, then find the total rainfall for crop types
    total_rainfall = df.groupby('Crop_type')['Rainfall'].sum()
    print(total_rainfall.sum())
else:
    # If the average pollution level is not above 0.2, print a message indicating so
    print("Average pollution level is not above 0.2")

1197734.7000000002

In [8]:
def temperature_range(Field_ID):
    # Filter the DataFrame by the specified Field_ID
    field_data = df[df['Field_ID'] == Field_ID]
    
    # Calculate the temperature range for the field
    temp_range = field_data['Max_temperature_C'] - field_data['Min_temperature_C']
    
    return temp_range

# Call the function with the specified Field_IDs: 1458, 1895, and 5443
field_1458_range = temperature_range(1458)
field_1895_range = temperature_range(1895)
field_5443_range = temperature_range(5443)

# Print the results of the calls
print("Temperature range for Field_ID 1458:", field_1458_range)
print("Temperature range for Field_ID 1895:", field_1895_range)
print("Temperature range for Field_ID 5443:", field_5443_range)

Temperature range for Field_ID 1458: 135    40.7
dtype: float64
Temperature range for Field_ID 1895: 644    35.7
dtype: float64
Temperature range for Field_ID 5443: 892    33.4
dtype: float64

In [9]:
def temperature_range(Field_ID):
    field_data = df[df['Field_ID'] == Field_ID]
    Max_temperature_C = df['Max_temperature_C']
    Min_temperature_C = df['Min_temperature_C']
    temp_range = (Max_temperature_C - Min_temperature_C)
    return temp_range

In [10]:
field_1458_range = temperature_range(1458)
print("Temperature range for Field_ID 1458:", field_1458_range)

Temperature range for Field_ID 1458: 0      36.4
1      35.6
2      37.8
3      37.9
4      35.8
       ...
995    36.5
996    39.3
997    36.3
998    34.5
999    34.7
Length: 1000, dtype: float64

In [11]:
a = df['Crop_type'].unique()

b = float('inf')

c = ''

for crop in a:

    d = df[df['Crop_type'] == crop]['Min_temperature_C'].mean()

    if d < b:

        b = d

        c = crop

print(c)

rice

In [12]:
#Write code to calculate the total plot size for plots where the pH is less than 5.5
total_plot = df[(df['pH'] < 5.5) &(df['Plot_size'])]
y = total_plot.sum()
print (y)

Field_ID                                                       1308606
Elevation                                                 324440.08772
Rainfall                                                      555427.1
Min_temperature_C                                              -1847.9
Max_temperature_C                                              14284.4
pH                                                         2305.261648
Pollution_level                                             115.958912
Plot_size                                                       1731.9
Annual_yield                                                934.247461
Crop_type            cassavawheatwheatwheatpotatocassavapotatowheat...
dtype: object

In [13]:
y = df.sum()
print (y)

Field_ID                                                       2779486
Elevation                                                628136.035118
Rainfall                                                     1197734.7
Min_temperature_C                                              -4504.1
Max_temperature_C                                              30894.6
pH                                                         5603.898678
Pollution_level                                             223.374025
Plot_size                                                       3962.4
Annual_yield                                               2101.535559
Crop_type            coffeepotatobananawheatcassavabananamaizewheat...
dtype: object

In [14]:
import pandas as pd
import numpy as np

In [15]:
#Using Pandas, create a dataframe that includes entries 
#with a 'Min_temperature_C’< -5 and a 'Max_temperature_C' > 30. How many rows are in the filtered dataset?

filtered_df = df[(df['Min_temperature_C'] < -5) & (df['Max_temperature_C'] > 30)]

num_rows = len(filtered_df)
print("Number of rows in the filtered dataset:", num_rows)

Number of rows in the filtered dataset: 319

In [16]:
#If you concatenate the first three digits of the most common ‘Max_temperature_C’ 
#with the last three letters of the least common 'Crop_type', what string do you get?
#Note: Use the first mode if there are multiple modes


# Find the most common Max_temperature_C value(s)
most_common_max_temp = df['Max_temperature_C'].mode()

# Convert the first mode to a string and extract its first three digits
first_mode_as_string = str(most_common_max_temp.iloc[0])
first_three_digits = first_mode_as_string[:3]

# Find the least common Crop_type value and extract its last three letters
least_common_crop_type = df['Crop_type'].value_counts().idxmin()
last_three_letters = least_common_crop_type[-3:]

# Concatenate the extracted parts to get the final string
final_string = first_three_digits + last_three_letters
print("Final string:", final_string)

Final string: 30.ice

In [17]:
def sum_crop_type_lengths(df, unique_crop_types=None):
    # Initialize the unique_crop_types set on the first call
    if unique_crop_types is None:
        unique_crop_types = set()

    # Base case: If the DataFrame is empty, return 0
    if df.empty:
        return 0

    # Add unique crop types from the current chunk of data to the set
    unique_crop_types.update(df['Crop_type'])

    # Recursively call the function with the remaining DataFrame
    return sum_crop_type_lengths(df.iloc[1:], unique_crop_types)

# Assuming df is your DataFrame containing crop type data
# Example DataFrame
data = {
    'Crop_type': ['Wheat', 'Corn', 'Rice', 'Wheat', 'Rice', 'Corn', 'Corn']
}
df = pd.DataFrame(data)

# Call the recursive function
total_length = sum_crop_type_lengths(df)

# Calculate the total sum based on the lengths of unique crop types
total_sum = sum(len(crop_type) for crop_type in total_length)

print("Total sum of integer values for each unique crop type:", total_sum)

TypeError: 'int' object is not iterable

In [18]:
import numpy as np


# Calculate the median plot size
median_plot_size = np.median(df['Plot_size '])

# Filter the DataFrame based on the condition that Plot_size is larger than the median plot size
filtered_data = df[df['Plot_size '] > median_plot_size]

# Calculate the standard deviation of Rainfall for the filtered data
std_dev_rainfall = np.std(filtered_data['Rainfall'])

# Round the standard deviation to 2 decimal places
std_dev_rainfall_rounded = round(std_dev_rainfall, 2)

print("Standard deviation of Rainfall for plots larger than median plot size:", std_dev_rainfall_rounded)

KeyError: 'Plot_size '